@media only screen and (max-width: 821px){
    .error-info{
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 415px){
    .error-info{
        font-size: 1.5rem;
        width: 35rem;
    }
}

@media only screen and (max-width: 281px){
    .error-info{
        font-size: 1.2rem;
        width: 27rem;
    }

    .error-info button{
        width: 27rem;
        font-size: 1.5rem;
        padding: 1rem;
    }
}