@media only screen and (max-width: 1025px){
    .popup-info p,
    .popup-info li,
    .popup-info a,
    .popup-info strong{
        font-size: 1.4rem;
    }

    .popup-info button{
        width: 20rem;
        font-size: 1.5rem;
    }

    .select-category{
        width: 25rem;
        height: 3.76rem;
        font-size: 1.5rem;
    }

    .popup-info h4{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 821px){
    .popup-info button{
        width: 23rem;
        font-size: 1.5rem;
    }

    .popup-info p,
    .popup-info li,
    .popup-info a,
    .popup-info strong{
        font-size: 1.7rem;
    }

    .popup-info{
        width: 60rem;
    }

}

@media only screen and (max-width: 794px){
    h1{
        font-size: 2rem;
    }

    /* .popup-info button{
        width: 23rem;
        font-size: 1.5rem;
    }

    .popup-info p,
    .popup-info li,
    .popup-info a,
    .popup-info strong{
        font-size: 1.7rem;
    }

    .popup-info{
        width: 60rem;
    } */


}

@media only screen and (max-width: 636px){
    h1{
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 576px){
    h1{
        font-size: 1.6rem;
    }

    .home-page-btns{
        flex-direction: column;
        height: 15rem;
    }
}

@media only screen and (max-width: 512px){
    h1{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 415px){
    .popup-info p,
    .popup-info ul{
        display: none;
    }

    .popup-info a{
        text-align: center;
    }

    .popup-info button{
        width: 12rem;
        font-size: 1.2rem;
    }

    .popup-info p,
    .popup-info li,
    .popup-info a,
    .popup-info strong{
        font-size: 1.2rem;
    }

    .popup-info{
        width: 34rem;
    }

    .popup-info h4{
        font-size: 1.6rem;
    }

    .select-category{
        width: 20rem;
        height: 3.36rem;
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 281px){
    .footer-content{
        font-size: 1.2rem;
    }

    .popup-info{
        width: 27rem;
    }

    .popup-info p,
    .popup-info li,
    .popup-info a,
    .popup-info strong{
        font-size: 1rem;
    }

    .popup-info h4{
        font-size: 1.2rem;
    }

    .select-category{
        width: 18rem;
        height: 3.36rem;
        font-size: 1.2rem;
    }

    .popup-info button{
        width: 10rem;
        font-size: 1.2rem;
    }


}