* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-size: 10px;
    font-weight: 400;
    font-family: 'Lato';
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.exam-row{
    max-width: 1500px;
    margin: 0 auto;
}

/* REUSABLE */
.btn{
    color: #f7f7f7;
    background-color: #f0ad4e;
    border-radius: 0.3rem;
    border: none;
    padding: 1rem;
}

.btn:disabled,
.btn:hover:disabled{
    background-color: #f7d19c;
}

.btn:hover{
    background-color: #c77c11;
}